@import url('http://fonts.googleapis.com/css?family=Cantarell')

$primary = #bada55
$primaryDark = darken($primary, 20%)

body
    font 16px 'Catarell', sans-serif

header
    min-height 215px

label
    display block

.top
    left 50%
    position absolute
    transform translateX(-50%)
    transition all 1050ms 400ms

    &.crop-time
        left 0
        transform translateX(0)

.logo
    display block
    height 150px
    margin auto
    width 150px
    transition all 1050ms 400ms    

    .crop-time &
        height 75px
        width 75px

.title
    margin-bottom 10px
    margin-top 0
    transition opacity 400ms

    .crop-time &
        opacity 0

.start-form 
    text-align center

#img-placeholder
    margin 0 auto

.droppable
    border 3px dashed #ccc
    color #aaa
    font-size 30px
    line-height 200px
    text-align center
    width 600px

.page-foot
    background $primary
    border-top 1px solid $primaryDark
    box-shadow 0 -2px 8px rgba(0, 0, 0, 0.3) 
    bottom 0
    left 0
    position fixed
    right 0
    z-index 100

.crop-tools
    display flex
    justify-content center
    opacity 0
    padding 12px 0
    transition opacity 200ms

    .input-group
        align-self flex-end

.copyright
    left 0
    position absolute
    top 0
