extends layout

block content
    form(action="/crop", method="post", class="start-form")
        input(type="url", name="url", class="start-input")
        button(type="submit", class="start-submit") Go
