doctype html
html(lang="en-us", class="no-js")
    head
        meta(charset="UTF-8")
        title= title || "Webchopper: Screenshot and crop your way to victory"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/main.css")
    body
        header
            .top
                img.logo(src="/images/Logo.png", alt="Webchopper Logo")
                h1.title Webchopper
        block content
        footer.page-foot
            form.crop-tools
                .input-group
                    label(for="crop-width") Width:
                    input(type="number" id="crop-width")
                .input-group
                    label(for="crop-height") Height:
                    input(type="number" id="crop-height")
                .input-group
                    label(for="crop-ratio") Ratio:
                    input(type="number" id="crop-ratio")
                .input-group: button#crop-it Crop
            p.copyright &copy; Copyright or something
        script(src="/js/imagecrop.js")
        block scripts